.popin {
    overflow: auto;
    position: fixed;
    right: 100%;
    visibility: hidden;
    z-index: -1;
    transition: z-index 0ms 1s;
    bottom: 0;
    left: 0;
    top: 0;
}

.popin.active {
    visibility: visible;
    z-index: 105;
    transition: z-index 0ms;
    right: 0;
}

.popin .mask {
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0, 0, 0, 0.99);
    will-change: background;
}

.popin.active .mask {
    background: rgba(0, 0, 0, 0.8);
}

.popin .content-scroll {
    overflow: auto;
    height: 100%;
    position: relative;
}

.popin .content-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.popin .popin-ground {
    background: #fff;
    pointer-events: all;
    margin: 0 auto;
    padding: 43px 50px;
    text-align: left;
    position: relative;
    width: 80vw;
    min-height: 394px;
    max-width: 960px;
    height: auto !important;
}

.popin .popin-content {
    display: table-cell;
    border-radius: 20px;
    margin: auto;
    opacity: 0;
    overflow: hidden;
    text-align: center;
    transition: all 0.7s cubic-bezier(0, 0, 0, 0.99);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    vertical-align: middle;
    width: 100%;
    will-change: border-radius, transform, opacity;
}

.popin.active .popin-content {
    border-radius: 0;
    opacity: 1;
    transition: all 0.5s cubic-bezier(0, 0, 0, 0.99);
    -ms-transform: scale(1);
    transform: scale(1);
}

.popin .title {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 40px;
    font-size: 36px;
    letter-spacing: 6px;
    padding-bottom: 40px;
}

.popin .popin-close {
    bottom: 0;
    color: #202020;
    cursor: pointer;
    height: 15px;
    width: 15px;
    line-height: .7;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 14px;
}

.popin .popin-close .icon-close-menu {
    margin: 0;
}

.popin .popin-close .icon-close:before {
    font-size: 20px;
}

@font-face {
    font-family: 'icomoon';
    src: url("assets/fonts/icomoon.eot?8pzqmz");
    src: url("assets/fonts/icomoon.eot?8pzqmz#iefix") format("embedded-opentype"), url("assets/fonts/icomoon.ttf?8pzqmz") format("truetype"), url("assets/fonts/icomoon.woff?8pzqmz") format("woff"), url("assets/fonts/icomoon.svg?8pzqmz#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
    content: "\e900";
    display: inline-block;
}

.icon-prev:before {
    content: "\e900";
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    display: inline-block;
}

.icon-close:before {
    content: "\e910";
}

/* HEADER */
#masthead {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
}

.header-content {
    padding-top: 16px;
    position: relative;
    max-width: 1280px;
    margin: auto;
}

.menu {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
}

.menu li {
    padding-bottom: 5px;
}

.menu-categories {
    left: 0;
}

.menu-contact {
    right: 0;
    text-align: right;
}

.home .menu a {
    color: white;
}

.intro {
    letter-spacing: 0;
    font-family: 'Crimson Text', serif;
    text-transform: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 20px;
}

.contact-container {
    display: -ms-flexbox;
    display: flex;
}

.contact-container .thumbnail {
    padding-top: 2px;
}

.contact-container .thumbnail img {
    margin-right: 50px;
}

.form-line {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding-bottom: 25px;
}

.form-line br {
    display: none;
}

.form-line input, .form-line select, .form-line textarea {
    width: 100%;
}

.form-line .wpcf7-form-control-wrap {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
}

.form-line.form-date {
    -ms-flex-direction: column;
        flex-direction: column;
}

.form-line.form-textarea {
    padding-top: 25px;
}

.form-line.form-textarea textarea {
    height: 130px;
}

.form-line.form-textarea .wpcf7-form-control-wrap {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
}

.form-line.form-email .wpcf7-form-control-wrap {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
}

.form-line.form-submit .post-url {
    display: none;
}

/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block;
}

.owl-carousel.owl-hidden {
    opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.owl-carousel.owl-rtl {
    direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
    float: right;
}

/* No Js */
.no-js .owl-carousel {
    display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    animation-name: fadeOut;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
    transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none;
}

.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}

/*
Theme Name: atelier109.fr
Theme URI: https://wordpress.org/themes/twentyseventeen/
Author: Florian Boudot
Author URI: https://wordpress.org/
Description: lala
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentyseventeen
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
.pattern {
    height: 36px;
    background: url(assets/images/pattern-1.png) 0 0 repeat-x;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* STRUCTURE */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    color: #000;
    background: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}

input {
    height: auto;
}

a img, fieldset, form {
    border: 0;
}

ul {
    list-style: none;
}

input, select, textarea, button {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 5px 5px;
    border: 1px solid black;
}

input, textarea, select {
    /*not working with selects on IE6 IE7*/
    box-sizing: border-box;
}

textarea {
    overflow: auto;
}

sup {
    vertical-align: text-top;
}

button {
    width: auto;
    overflow: visible;
    border: 0;
    background: none;
    cursor: pointer;
}

button::-moz-focus-inner {
    /*firefox extra padding removed*/
    border: 0;
    padding: 0;
}

input[type=submit] {
    width: auto !important;
    height: auto !important;
    cursor: pointer !important;
    border: 0 !important;
    overflow: visible;
}

/* PAGE */
#page {
    position: relative;
    max-width: 1280px;
    margin: auto;
}

.home #page {
    max-width: none;
}

#content {
    padding-left: 20px;
    padding-right: 20px;
}

.home #content {
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

/* BUTTONS */
.button {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 5px 12px;
    font-weight: 400;
    background-color: #000000;
}

.button-big {
    padding: 10px 20px;
    font-size: 16px;
}

.button-bigger {
    padding: 16px 20px;
    font-size: 20px;
}

.button:hover {
    color: white;
    text-decoration: none;
}

.bg-2 {
    background-color: #d50058;
}

/* TEMPLATES */
.single-template,
.page-template {
    padding-top: 75px;
}

.post-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.prev-post-container {
    width: 21.8%;
}

.prev-post-link {
    padding-left: 35px;
}

.post-content {
    width: 60.4%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
}

.page-template .post-content {
    display: block;
}

.next-post-container {
    -ms-flex-pack: end;
        justify-content: flex-end;
    width: 17.8%;
}

.nav-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.nav-link a {
    display: block;
    position: relative;
}

.arrow {
    font-size: 20px;
    color: white;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

.nav-link .arrow {
    position: absolute;
    top: 50%;
    left: 67%;
}

.next-post-link {
    padding-right: 35px;
}

.next-post-link .arrow {
    left: 35%;
}

/* POPIN GALLERY */
.popin-gallery .owl-nav {
    pointer-events: none;
    position: absolute;
    left: -30px;
    right: -30px;
    top: 50%;
    z-index: 2;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.popin-gallery .owl-nav .owl-next, .popin-gallery .owl-nav .owl-prev {
    pointer-events: all;
    transition: opacity 300ms ease;
}

.popin-gallery .owl-nav .arrow {
    color: #000;
}

.popin-gallery .owl-nav .disabled {
    opacity: 0;
    pointer-events: none;
}

.images-list .owl-item {
    height: 80vh;
}

.images-list .image-cover {
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* POST CONTENT */
.post-number {
    font-size: 16px;
    padding-bottom: 40px;
    font-weight: 400;
}

.image-container {
    width: 53.4%;
}

.image-post {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.image-post img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    transition: transform 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}

.image-post img:hover {
    -ms-transform: scale(1.05);
        transform: scale(1.05);
    transition: transform 2000ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms;
}

.image-post .pattern {
    position: absolute;
    bottom: -13px;
    z-index: 2;
    left: 0;
    right: 0;
}

.content-container {
    width: 46.6%;
    padding-left: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
}

.content-container .button {
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.post-title,
.entry-title {
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 600;
    padding-bottom: 17px;
    line-height: 29px;
}

.button-back {
    display: inline-block;
    margin-bottom: 14px;
}

.the-content {
    letter-spacing: 0;
    font-family: 'Crimson Text', serif;
    text-transform: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 44px;
}

.the-content a {
    text-decoration: underline;
}

.the-content a:hover {
    text-decoration: none;
}

/* HOME INDEX */
.page-index .cover {
    position: relative;
    z-index: 1;
}

.page-index .cover:last-child {
    overflow: hidden;
}

.page-index .cover .pattern {
    position: absolute;
    bottom: -14px;
    left: 0;
    right: 0;
    z-index: 2;
}

.page-index .cover .image {
    position: relative;
    z-index: 1;
}

.page-index .cover .image img {
    display: block;
    width: 100%;
}

.page-index .cover .layout {
    text-align: center;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}

.page-index .cover .title {
    font-size: 60px;
    letter-spacing: 4px;
    padding-bottom: 26px;
    line-height: 70px;
    color: white;
    font-weight: 200;
}

/* FOOTER */
.site-footer {
    padding-bottom: 100px;
}

.home .site-footer {
    padding-bottom: 0;
}
/*# sourceMappingURL=style.css.map */