.popin {
    overflow: auto;
    position: fixed;
    right: 100%;
    visibility: hidden;
    z-index: -1;
    transition: z-index 0ms 1s;
}

.popin, .popin .mask {
    bottom: 0;
    left: 0;
    top: 0;
}

.popin .mask {
    background: transparent;
    content: "";
    position: absolute;
    right: 0;
    transition: all 0.5s cubic-bezier(0, 0, 0, 0.99);
    will-change: background;
}

.popin.active {
    visibility: visible;
    z-index: 105;
    transition: z-index 0ms;
    right: 0;
}

.popin.active .mask {
    background: rgba(0, 0, 0, 0.8);
}

.popin .btn-close {
    right: 1%;
    top: 15px;
    border: 1px solid #a0a0a0;
}

.popin .content-scroll {
    overflow: auto;
    height: 100%;
    pointer-events: none;
    position: relative;
}

.popin .content-scroll.no-pdt {
    padding-top: 0;
}

.contact-container {
    display: -ms-flexbox;
    display: flex;
}

.contact-container .thumbnail {
    padding-top: 2px;
}

.contact-container .thumbnail img {
    margin-right: 50px;
}

.popin .content-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.popin .intro {
    letter-spacing: 0;
    font-family: 'Crimson Text', serif;
    text-transform: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 20px;
}

.popin .popin-ground {
    background: #fff;
    pointer-events: all;
    margin: 0 auto;
    padding: 43px 50px;
    text-align: left;
    position: relative;
    width: 80vw;
    min-height: 394px;
    height: auto !important;
}

.popin-content {
    display: table-cell;
    border-radius: 20px;
    margin: auto;
    opacity: 0;
    overflow: hidden;
    text-align: center;
    transition: all 0.7s cubic-bezier(0, 0, 0, 0.99);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    vertical-align: middle;
    width: 100%;
    will-change: border-radius, transform, opacity;
}

.popin.active .popin-content {
    border-radius: 0;
    opacity: 1;
    transition: all 0.5s cubic-bezier(0, 0, 0, 0.99);
    -ms-transform: scale(1);
    transform: scale(1);
}

.form-line {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding-bottom: 25px;
}

.form-line br {
    display: none;
}

.form-line input, .form-line select, .form-line textarea {
    width: 100%;
}

.form-line .wpcf7-form-control-wrap {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
}

.form-line.form-date {
    -ms-flex-direction: column;
        flex-direction: column;
}

.form-line.form-textarea {
    padding-top: 25px;
}

.form-line.form-textarea textarea {
    height: 130px;
}

.form-line.form-textarea .wpcf7-form-control-wrap {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
}

.form-line.form-email .wpcf7-form-control-wrap {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
}

.form-line.form-submit .post-url {
    display: none;
}

.popin-title {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 40px;
    font-size: 36px;
    letter-spacing: 6px;
    padding-bottom: 40px;
}

.popin-close {
    bottom: 0;
    color: #202020;
    cursor: pointer;
    height: 15px;
    line-height: .7;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 15px;
}

.popin-close .icon-close-menu {
    margin: 0;
}

.popin-close .icon-close-menu:before {
    font-size: 20px;
}

.open-popin {
    cursor: pointer;
}

@font-face {
    font-family: 'icomoon';
    src: url("assets/fonts/icomoon.eot?8pzqmz");
    src: url("assets/fonts/icomoon.eot?8pzqmz#iefix") format("embedded-opentype"), url("assets/fonts/icomoon.ttf?8pzqmz") format("truetype"), url("assets/fonts/icomoon.woff?8pzqmz") format("woff"), url("assets/fonts/icomoon.svg?8pzqmz#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
    content: "\e900";
    display: inline-block;
}

.icon-prev:before {
    content: "\e900";
    -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    display: inline-block;
}

.icon-close:before {
    content: "\e910";
}

/*
Theme Name: atelier109.fr
Theme URI: https://wordpress.org/themes/twentyseventeen/
Author: Florian Boudot
Author URI: https://wordpress.org/
Description: lala
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentyseventeen
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
.pattern {
    height: 36px;
    background: url(assets/images/pattern-1.png) 0 0 repeat-x;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* STRUCTURE */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    color: #000;
    background: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}

input {
    height: auto;
}

a img, fieldset, form {
    border: 0;
}

ul {
    list-style: none;
}

input, select, textarea, button {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 5px 5px;
    border: 1px solid black;
}

input, textarea, select {
    /*not working with selects on IE6 IE7*/
    box-sizing: border-box;
}

textarea {
    overflow: auto;
}

sup {
    vertical-align: text-top;
}

button {
    width: auto;
    overflow: visible;
    border: 0;
    background: none;
    cursor: pointer;
}

button::-moz-focus-inner {
    /*firefox extra padding removed*/
    border: 0;
    padding: 0;
}

input[type=submit] {
    width: auto !important;
    height: auto !important;
    cursor: pointer !important;
    border: 0 !important;
    overflow: visible;
}

/* PAGE */
#page {
    position: relative;
    max-width: 1280px;
    margin: auto;
}

#content {
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

/* BUTTONS */
.button {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 5px 12px;
    font-weight: 400;
    background-color: #000000;
}

.button-big {
    padding: 10px 20px;
    font-size: 16px;
}

.button:hover {
    color: white;
    text-decoration: none;
}

.bg-2 {
    background-color: #d50058;
}

/* HEADER */
#masthead {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}

.header-content {
    padding-top: 16px;
    position: relative;
    max-width: 1280px;
    margin: auto;
}

.menu {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
}

.menu li {
    padding-bottom: 5px;
}

.menu-categories {
    left: 0;
}

.menu-contact {
    right: 0;
    text-align: right;
}

/* SINGLE */
.single {
    padding-top: 40px;
}

.post-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.prev-post-container {
    width: 21.8%;
}

.prev-post-link {
    padding-left: 35px;
}

.post-content {
    width: 60.4%;
}

.next-post-container {
    -ms-flex-pack: end;
        justify-content: flex-end;
    width: 17.8%;
}

.nav-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.nav-link a {
    display: block;
    position: relative;
}

.nav-link .arrow {
    position: absolute;
    top: 50%;
    left: 67%;
    font-size: 20px;
    color: white;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

.next-post-link {
    padding-right: 35px;
}

.next-post-link .arrow {
    left: 35%;
}

/* POST CONTENT */
.post-number {
    font-size: 16px;
    padding-bottom: 40px;
    font-weight: 400;
}

.image-container {
    width: 53.4%;
}

.image-post {
    position: relative;
}

.image-post img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.image-post .pattern {
    position: absolute;
    bottom: -13px;
    left: 0;
    right: 0;
}

.content-container {
    width: 46.6%;
    padding-left: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
}

.content-container .button {
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.post-title {
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: 600;
    padding-bottom: 17px;
    line-height: 29px;
}

.post-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
}

.button-back {
    display: inline-block;
    margin-bottom: 14px;
}

.the-content {
    letter-spacing: 0;
    font-family: 'Crimson Text', serif;
    text-transform: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 44px;
}

.the-content a {
    text-decoration: underline;
}

.the-content a:hover {
    text-decoration: none;
}

/* FOOTER */
.site-footer {
    padding-bottom: 100px;
}
/*# sourceMappingURL=style.css.map */