/* HEADER */
#masthead {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;

    .header-content {
        padding-top: 16px;
        position: relative;
        max-width: 1280px;
        margin: auto;

    }

    .menu {
        position: absolute;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu li {
        padding-bottom: 5px;
    }

    .menu-categories {
        left: 0;
    }

    .menu-contact {
        right: 0;
        text-align: right;
    }
    .language-chooser {
        padding-top: 20px;
    }
}

.home .menu a {
    color: white;
}