/* POPINS (works with js toggler) */
.popin {
    display: none;
    overflow: hidden;

    .popin-inside {
        background: white;
        position: relative;
        z-index: 102;
        padding: 48px 40px 50px 40px;
        min-width: 320px;
        max-width: 100%;

        @media (max-width: 600px) {
            min-width: 500px;
            max-width: 65%;
        }
    }

    &.active {
        display: block;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 101;
        left: 0;
        right: 0;
        top: 48px;
        bottom: 0;
        overflow: auto;

        @media (max-width: 600px) {
            display: flex;
            top: 0;
        }
    }

    .close,
    &:before{
        content: '';
        position: fixed;
        left: 0;
        top:0;
        right: 0;
        bottom: 0;
        z-index:101;
    }

    &:before {
        background: #000000;
        opacity: 0.6;
    }
}