
.popin {
    overflow: auto;
    position: fixed;
    right: 100%;
    visibility: hidden;
    z-index: -1;
    transition: z-index 0ms 1s;
    bottom: 0;
    left: 0;
    top: 0;

    &.active {
        visibility: visible;
        z-index: 105;
        transition: z-index 0ms;
        right: 0;
    }

    .mask {
        background: transparent;
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        transition: all .5s cubic-bezier(0, 0, 0, .99);
        will-change: background
    }

    &.active .mask {
        background: rgba(0, 0, 0, .8)
    }

    .content-scroll {
        overflow: auto;
        height: 100%;
        pointer-events: none;
        position: relative
    }

    .content-wrapper {
        display: table;
        height: 100%;
        width: 100%
    }
    .popin-ground {
        background: #fff;
        pointer-events: all;
        margin: 0 auto;
        padding: 43px 50px;
        text-align: left;
        position: relative;
        width: 80vw;
        min-height: 394px;
        max-width: 960px;
        height: auto !important
    }

    .popin-content {
        display: table-cell;
        border-radius: 20px;
        margin: auto;
        opacity: 0;
        overflow: hidden;
        text-align: center;
        transition: all .7s cubic-bezier(0, 0, 0, .99);
        -ms-transform: scale(.95);
        transform: scale(.95);
        vertical-align: middle;
        width: 100%;
        will-change: border-radius, transform, opacity
    }

    &.active .popin-content {
        border-radius: 0;
        opacity: 1;
        transition: all .5s cubic-bezier(0, 0, 0, .99);
        -ms-transform: scale(1);
        transform: scale(1)
    }

    .title {
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 40px;
        font-size: 36px;
        letter-spacing: 6px;
        padding-bottom: 40px;
    }
    
    .popin-close {
        bottom: 0;
        color: #202020;
        cursor: pointer;
        height: 15px;
        line-height: .7;
        padding: 0;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 15px;

        .icon-close-menu {
            margin: 0
        }
        .icon-close:before {
            font-size: 20px
        }
    }
}
